<h1>Editing Option</h1>


<%= error_messages_for :option %>

<% form_for :option, @option, :url => foodstuff_option_path(@foodstuff, @option), :html => {:method => :put} do |f| %>
  <p>
    <%= f.text_field :name %>
    <%= f.submit "Update" %>
  </p>
<% end %>


<%= link_to 'Back', foodstuff_options_path(@foodstuff) %>