<h1>New option</h1>

<%= error_messages_for :option %>

<% form_for :option, @option, :url => foodstuff_options_path, :html => {:method => :post} do |f| %>
  <p>
    <%= f.text_field :name %>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', foodstuff_options_path(@foodstuff) %>
