

Thank you for choosing to stay at the Renaissance Toronto Hotel Downtown by Marriott. Following is your order details.

Thank you again for choosing Renaissance.



Guest Name: <%= @name %> 
Arrival Date:<%= @arrival_date %> 
<!-- Confirmation Number: <%= @confirmation_number %>  -->
Telephone: <%= @telephone %> 

Ordered Items:
<% for item in @items %>
<%#= item.quantity %> x <%= item.name %> <%= number_to_currency(item.price) %>
<% end %>
Total: <%= number_to_currency(@total) %>



