<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Orders: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'styles' %>
<%#= javascript_include_tag 'prototype.js' %>


</head>

<body>
<% if admin? %>
  <a href="/menus/1/menu_items"> Manage Menu </a><br>
  <a href="/foodstuffs"> Menu Options </a><br>
  <a href="/orders">Orders </a><br>
  <a href="/users"> Users </a><br>
  <a href="/logout"> Logout </a><br>
<% end %>

<div id="outer">

<div id="bg">
  <div id="top" align="center"></div>
  <div id="toptitle">Breakfast Packages </div>
 
  <div id="body"> 

  <%= yield  %>

  </div>
  </div>
  </div>

  </body>
  </html>
